.MemoryCard {
  width: 250px;
  height: auto;
  max-width: 250px;
  margin: 1rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.MemoryCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.MemoryCard h2 {
  text-align: center;
  margin-top: 1rem;
}

.MemoryCard img {
  width: 100%;
  height: auto;
  max-width: 250px;
  border-radius: 10px;
}
